Repository tkxue/monty: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-rs, lint-rs, format-lint-py

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-rs
        name: Format Rust
        entry: make format-rs
        types: [rust]
        language: system
        pass_filenames: false
      - id: lint-rs
        name: Lint Rust
        entry: make lint-rs
        types: [rust]
        language: system
        pass_filenames: false
      - id: format-lint-py
        name: Format & Lint Python
        entry: make format-lint-py
        types: [python]
        language: system
        pass_filenames: false

Fuzz testing (#119)
  .claude/settings.json
  .claude/skills/coverage/SKILL.md
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fuzz/Cargo.toml
  crates/fuzz/fuzz_targets/string_input_panic.rs
  crates/fuzz/fuzz_targets/tokens_input_panic.rs
  crates/monty-type-checking/src/db.rs
  crates/monty/src/builtins/pow.rs
  crates/monty/src/bytecode/compiler.rs
  crates/monty/src/bytecode/op.rs
  crates/monty/src/bytecode/vm/binary.rs
  crates/monty/src/bytecode/vm/mod.rs
  crates/monty/src/heap.rs
  crates/monty/src/resource.rs
  crates/monty/src/types/long_int.rs
  crates/monty/src/value.rs
  crates/monty/test_cases/function__return_none.py
  crates/monty/tests/parse_errors.rs
  crates/monty/tests/resource_limits.rs
Due: format-rs, lint-rs, format-lint-py

Simplify boilerplate when functions expect no kwargs (#139)
  crates/monty/src/args.rs
  crates/monty/src/builtins/min_max.rs
  crates/monty/src/builtins/pow.rs
  crates/monty/src/builtins/sorted.rs
  crates/monty/src/builtins/zip.rs
  crates/monty/src/modules/asyncio.rs
  crates/monty/src/types/bytes.rs
  crates/monty/src/types/list.rs
  crates/monty/src/types/path.rs
  crates/monty/src/types/range.rs
  crates/monty/src/types/slice.rs
  crates/monty/src/types/str.rs
  crates/monty/src/types/tuple.rs
Due: format-rs, lint-rs

Convert argument parsing to `clap` (#149)
  Cargo.lock
  crates/monty-cli/Cargo.toml
  crates/monty-cli/src/main.rs
Due: format-rs, lint-rs

Add workflow to bootstrap new npm platform packages (#164)
  .github/workflows/init-npm-packages.yml
Due: none

Bump to v0.0.6 (#168)
  Cargo.lock
  Cargo.toml
  crates/monty-js/package.json
Due: none

prep to 0.0.7 release (#188)
  .claude/settings.json
  Cargo.lock
  Cargo.toml
  crates/monty-js/build.rs
  crates/monty-js/package-lock.json
  crates/monty-js/package.json
Due: format-rs, lint-rs

Add rustyline to REPL for line editing and history (#189)
  Cargo.lock
  crates/monty-cli/Cargo.toml
  crates/monty-cli/src/main.rs
Due: format-rs, lint-rs
